<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-imap-python-adaptor.ZPM">
    <Module>
      <Name>iris-imap-python-adaptor</Name>
      <Description>Imap connector with support of Oauth2</Description>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>pex-embbeded-python</Name>
          <Version>2.3.16</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src/cls</SourcesRoot>
      <Resource Name="IRIS.IMAPBO.CLS"/>
      <FileCopy Name="src/python/imap" Target="${libdir}python/"/>
      <SystemRequirements Version=">=2021.2" Interoperability="enabled" />
    </Module>
  </Document>
</Export>
